.sideber
  .sideber__header
    .sidebar__header__box
      %p.sidebar__header__box__username
        ユーザー
      %ul.sidebar__header__box__menu
        %li.sidebar_header__box__edit--user
          = link_to "#" do
            = icon('fas', 'edit')
        %li.sidebar_header__box__edit--groups
          = link_to "#" do
            = icon('fas', 'cog')
  .groups
    %a{ href: '#' }
      .groups__lists
        %p.groups__lists__name
          aaaa
        %p.groups__lists__message
          まだメッセージがありません