.side_ber {
  width: 300px;
  background-color: #253141;
  float: left;
  .side_ber_user_name {
  height: 100px;
  background-color: #253141;
  }
  .side_ber_group_list {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  }
}